@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

@import url('https://fonts.googleapis.com/css?family=Inter:400,700,600,800|Roboto:400,500,100|Work+Sans:400,700,500|Mulish:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel__prev {
	left: 15px;
	transform: translate(0, -50%);
	background-color: #efefef !important;
}
.carousel__pagination-button--active {
	background-color: #efefef !important;
}
.carousel__pagination-button {
	background-color: #efefef !important;
}
.carousel__next {
	right: 15px;
	transform: translate(0, -50%);
	background-color: #efefef !important;
}

body {
	font-family: Helvetica;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none;
}

@layer base {
	:root {
		--color-text-base: green;
		--color-text-muted: 199, 210, 254;
		--color-text-inverted: 79, 70, 229;
		--color-fill: 67, 56, 202;
		--color-button-accent: 255, 255, 255;
		--color-button-accent-hover: 238, 242, 255;
		--color-button-muted: 99, 102, 241;
		--color-text-tertiary-gray: 102, 102, 102;
		/* --color-border-dashed-primary: '#A7E1C0'; */
		--color-djuli-primary: 48, 197, 111, 1;
	}
	.theme-swiss {
		--color-text-base: 255, 255, 255;
		--color-text-muted: 254, 202, 202;
		--color-text-inverted: 220, 38, 38;
		--color-fill: 185, 28, 28;
		--color-button-accent: 255, 255, 255;
		--color-button-accent-hover: 254, 242, 242;
		--color-button-muted: 239, 68, 68;
	}
	.theme-neon {
		--color-text-base: 17, 24, 2;
		--color-text-muted: 47, 67, 6;
		--color-text-inverted: 235, 250, 204;
		--color-fill: 179, 255, 23;
		--color-button-accent: 36, 52, 3;
		--color-button-accent-hover: 55, 79, 5;
		--color-button-muted: 212, 255, 122;
	}
}

@layer base {
	@font-face {
		font-family: 'Helvetica Neue-Medium';
		font-style: normal;
		font-weight: 500;
		src: url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Helvetica Neue-Regular';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/hlb.ttf') format('truetype');
	}
}
@layer base {
	[type='text'],
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
	textarea,
	select {
		@apply w-full border border-gray-300 rounded-lg shadow-sm focus:border-green-400 focus:ring-green-600 focus:ring-1;
	}
	[type='checkbox'],
	[type='radio'] {
		@apply rounded border-gray-300 text-green-500 focus:ring-green-500;
	}
}

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.perspective {
		perspective: 100px;
	}

	.preserve-3d {
		transform-style: preserve-3d;
	}

	.distance-1 {
		transform: translateZ(-100px) scale(2);
	}

	.distance-2 {
		transform: translateZ(-50px) scale(1.5);
	}

	.polygon-accrodion {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #e7e7e7;
		order: 1;
	}
	.polygon-accrodion-up {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #fb399a;
		order: 1;
	}
	.features-text {
		text-transform: uppercase;
		-webkit-text-stroke: 1px #eaeaea;
		color: 'white';
	}
}
